<div class='navigation'>
  <div>
    <ul>
      <li class="option"> <a href="/squirrels">show squirrels</a> </li>
      <li class="option"> <a id="logout" href='#'>logout</a> </li>
    </ul>
  </div>
</div>

