<div id='navigation'>
  <div>
    <ul>
      <li class="option page-nav"> <a id="show-squirrels" href="#">show squirrels</a> </li>
      <li class="option logout"> <a id="logout" href='#'>logout</a> </li>
    </ul>
  </div>
</div>

