<div class="options">
  <ul>  
    <li class="option"> <a href="/squirrels">show squirrels</a> </li>
  </ul>
</div>
<form action='/authenticate/logout' method='post'>
  <input type='submit' value='logout' />
</form> 
